<%= form_for @slideshow, :html => { :class => "form-horizontal presentation", :role => 'form' } do |f| %>

    <% if @slideshow.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@slideshow.errors.count, "error") %> prohibited this presentation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @slideshow.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group <%=form_group_error_class @slideshow, :name %>">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%= field_error(@slideshow, :name) %>
    </div>
  </div>

  <div class="form-group <%=form_group_error_class @slideshow, :theme %>">
    <%= f.label :theme_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.collection_select :theme_id, Theme.select(:id, :name), :id, :name, {}, :class => 'form-control' %>
      <%= field_error(@slideshow, :theme) %>
    </div>
  </div>

<!--   <div class="form-group">
    <div class="checkbox">
      <%= label_tag do %>
        <%= f.check_box :published %>
        <%= Presentation.human_attribute_name(:published) %>
      <%end%>
      <%= f.error_span(:published) %>
    </div>
  </div>

 -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            presentations_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>

<%= if @slideshow.id then render(partial: 'images_form') end%>
