<%= form_for @presentation, :html => { :class => "form presentation", :role => 'form' } do |f| %>

  <%= f.submit t('helpers.links.save'), :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            presentations_path, :class => 'btn btn-default' %>

  <% if @presentation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved</h3>
      </div>
      <% if @presentation.errors[:base].any? %>
        <div class="panel-body">
          <ul>
          <% @presentation.errors[:base].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group <%=form_group_error_class(f.object, :name)%>">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
    <%= field_error(f.object, :name) %>
  </div>

  <div class="form-group <%=form_group_error_class(f.object, :folder_zip)%>">
    <%= f.label :folder_zip, :class => 'control-label' %>
    <%= f.file_field :folder_zip, :class => 'form-control' %>
    <%= field_error(f.object, :folder_zip) %>
  </div>

<% end %>

