<%= form_for @user, html: { class: "user form-horizontal" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if @user.new_record? %>
        <%= f.email_field :email, class: 'form-control' %>
      <% else %>
        <p class="form-control-static"><%= @user.email %></p>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :given_name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :given_name, class: 'form-control' %>
    </div>
    <%= error_span(@user[:given_name]) %>
  </div>

  <div class="form-group">
    <%= f.label :family_name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :family_name, class: 'form-control' %>
    </div>
    <%= error_span(@user[:family_name]) %>
  </div>

  <% if policy(@user).permitted_attributes.include?(:role) %>
    <div class="form-group">
      <%= label_tag User.human_attribute_name(:provider), nil, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <% [%w{google_oauth2 Google},%w{devise Username/Password}].each do |value, display_name| %>
          <div class="radio">
            <%= content_tag :label do
              [f.radio_button(:provider, value), display_name].join.html_safe
            end
            %>
          </div>
        <% end %>
      </div>
      <%= error_span(@user[:provider]) %>
    </div>
  <% end %>

  <% if policy(@user).permitted_attributes.include?(:password) %>
    <% if @user.new_record? %>
      <div class="form-group">
        <%= f.label :password, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= error_span(@user[:password]) %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= error_span(@user[:password_confirmation]) %>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :password, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= link_to t('controllers.users.change_password'), password_user_path(@user), class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :card_number, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <% if policy(@user).permitted_attributes.include?(:card_number) %>
        <%= f.number_field :card_number, class: 'form-control' %>
      <% else %>
        <p class="form-control-static"><%= @user.card_number %></p>
      <% end %>
    </div>
    <%= error_span(@user[:card_number]) %>
  </div>

  <% if policy(@user).permitted_attributes.include?(:role) %>
    <div class="form-group">
      <%= label_tag User.human_attribute_name(:role), nil, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <% %w{user admin}.each do |role| %>
          <div class="radio">
            <%= content_tag :label do
              [f.radio_button(:role, role), User.human_attribute_name("role/#{role}")].join.html_safe
            end
            %>
          </div>
        <% end %>
      </div>
      <%= error_span(@user[:role]) %>
    </div>
  <% end %>

  <% if policy(@user).permitted_attributes.include?(:custom_disk_quota_mb) %>
    <div class="form-group">
      <%= f.label :custom_disk_quota_mb, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">

        <div class="radio">
          <label>
            <input 
              id="user_use_default_disk_quota" 
              value="true"
              name="user[use_default_disk_quota]" type="radio"
              <% if @user.custom_disk_quota_mb.nil? -%>
                checked="checked"
              <% end -%>
            />
            <%=t 'controllers.users.use_default', default_quota: GrowingPanes.config['default_disk_quota_mb'] %>
          </label>
        </div>

        <div class="radio form-inline">
          <label>
            <input 
              id="user_use_custom_disk_quota" 
              value="false"
              name="user[use_default_disk_quota]" type="radio"
              <% if !@user.custom_disk_quota_mb.nil? -%>
                checked="checked"
              <% end -%>
            />
            <%=t 'controllers.users.use_custom' %>
          </label>
          <div class="input-group">
            <%= f.number_field :custom_disk_quota_mb, min: 0, step: 1, class: 'form-control', disabled: !@user.custom_disk_quota_mb %>
            <span class="input-group-addon">MB</span>
          </div>
        </div>

      </div>
      <%= error_span(@user[:custom_disk_quota_mb]) %>
    </div>
  <% end %>

  <% unless @user.new_record? %>
    <div class="form-group">
      <%= f.label :primary_presentation_id, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.collection_select :primary_presentation_id, @user.presentations, :id, :name, {}, class: 'form-control' %>
      </div>
      <%= error_span(@user[:primary_presentation]) %>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            users_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  $(function(){
    $('input[type="radio"]').change(function(){
      var checkbox = $('#user_use_default_disk_quota')
      $('#user_custom_disk_quota_mb').prop('disabled', checkbox.is(':checked'))
    })
  })
</script>
